{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Editar Periodo Electoral</h2>
    <hr>

    <div class="card my-4">
        <div class="card-body">
            <form action="{{ url_for('admin.edit_election_period', period_id=period.id) }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}<br>
                    {{ form.name(class="form-control", size=32) }}
                </div>
                <p>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="{{ url_for('admin.list_election_periods') }}" class="btn btn-secondary">Cancelar</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
