{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Editar Votante</h2>
    <form action="{{ url_for('admin.edit_voter', voter_id=voter.id, period_id=period_id) }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}<br>
            {{ form.name(class="form-control", size=32) }}
        </div>
        <div class="mb-3">
            {{ form.lastname.label(class="form-label") }}<br>
            {{ form.lastname(class="form-control", size=32) }}
        </div>
        <div class="mb-3">
            {{ form.cedula.label(class="form-label") }}<br>
            {{ form.cedula(class="form-control", size=32) }}
        </div>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
    <a href="{{ url_for('admin.manage_period_details', period_id=period_id) }}" class="btn btn-outline-secondary btn-sm">Cancelar</a>
</div>
{% endblock %}
