{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Edit Candidate List</h2>
    <hr>

    <div class="card my-4">
        <div class="card-body">
            <form action="{{ url_for('admin.edit_candidate_list', list_id=candidate_list.id) }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}<br>
                    {{ form.name(class="form-control", size=32, value=candidate_list.name) }}
                </div>
                <p>
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('admin.manage_period_details', period_id=candidate_list.election_period_id) }}" class="btn btn-secondary">Cancel</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
